@import "tailwindcss";
@plugin "daisyui";

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body {
  font-family: "Space Grotesk";
}

a.active {
  padding: 5px;
  border: 2px solid seagreen;
  color: green;
}

a.pending {
  color: blue;
}

a.transitioning {
  view-transition-name: my-transition;
}